{% comment %}
  YouTube embed include for GitHub Pages compatibility
  Usage: {% include youtube.html id="VIDEO_ID" %}
  Example: {% include youtube.html id="dQw4w9WgXcQ" %}
{% endcomment %}

<figure class="video-container">
  <iframe
    src="https://www.youtube.com/embed/{{ include.id }}"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
    width="560"
    height="315"
    class="video-embed"
  ></iframe>
  {% if include.caption %}
    <figcaption>{{ include.caption }}</figcaption>
  {% endif %}
</figure>

<style>
  .video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    margin: 1.5em 0;
  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
</style>